/* M E D I A  Q U E R I E S */

@import 'main.min.css';

/* max-width: 768px */
@media screen and (max-width: 768px) {
    .navbar .container {
        width: 100%;
        border-radius: 0;
    }

    .navbar .container .bg-navbar {
        top: 100%;
    }

    .header .top {
        display: none;
    }

    #isotope-list .item .image-block img {
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }

    #isotope-list .item .image-block .img-hover-overlay {
        opacity: .5;
    }

    #isotope-list .item .image-block .icons-holder {
        top: 60%;
        opacity: 1;
    }

    #isotope-list .item .image-block .meta-info {
        opacity: 1;
        bottom: 60%;
    }

    #isotope-list .item .image-block .img-hover-overlay:before {
        -ms-transform: scaleY(1)!important;
        transform: scaleY(1)!important;
    }

    #isotope-list .item .image-block .img-hover-overlay:after {
        -ms-transform: scaleX(1)!important;
        transform: scaleX(1)!important;
    }
}

/* min-width: 768px */
@media screen and (min-width: 768px) {
	.hmbrgr {
		display: none;
	}

	.alio-navbar > li {
		display: inline-block;
	}

	.menu-footer-menu-container {
		margin-top: 0;
	}

	#searchform {
		margin-top: 13px;
	}

	.alio-logo {
		float: left;
	}

	.header .contact-item a {
		padding-top: 11px;
	}

	.contacts-holder {
		line-height: inherit;
		margin-bottom: 0;
	}

    .col-md-6.contacts-top {
        padding-bottom: 15px;
        padding-left: 0;
    }

    .col-md-6.contacts-bottom {
        padding-right: 0;
    }

    .navbar .container .bg-navbar div {
        border-top-left-radius: 55px;
    }

    .navbar .container .bg-navbar {
        padding-left: 54px;
        padding-right: 39px;
    }

	.header .contact-item a i {
		top: 17px;
	}

	.header .top .row .right.contacts-top, .header .top .row .right.contacts-bottom {
		text-align: right;
	}
}

/* min-width: 992px */
@media screen and (min-width: 992px) {
	footer .menu a {
		padding-left: 8px;
	}

	#searchform {
		width: 100%;
	}

	.navbar-collapse {
		padding: 0;
	}

	.alio-navbar li a {
		padding: 0 7px;
	}

	.field_box i.fa.fa-upload {
		top: 25px;
	}
}

/* min-width: 1200px */
@media (min-width: 1200px) {
	.container.isotope {
	    width: 900px;
	}

    .navbar .container {
        width: 1190px;
        padding-left: 25px;
        padding-right: 25px;
    }

}

