/* fonts */

@import "FA/fa-brands";
@import "FA/fa-light";
@import "FA/fa-regular";
@import "FA/fa-solid";
@import "FA/fontawesome";

@font-face {
    font-family: 'Hermes';
    font-style: normal;
    font-weight: 400;
    src: local('Hermes'), local('Hermes-Normal'),
    url("#{$fonts-path}/hermes.woff") format('woff'),
    url("#{$fonts-path}/hermes.ttf") format('truetype');
}
