.alio-btn, input[type=submit]:not(#searchsubmit) {
    background: $middleGreen;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px 16px;
    line-height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 0px 0px $darkGreen;
    border-width: 2px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    letter-spacing: 1px;
    border-radius: 6px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: color .1s ease-in-out, background .1s ease-in-out, border .1s ease-in-out;
    font-family: 'Roboto Condensed Regular', sans-serif;

    &:hover {
        background: $lightGreen;
    }
}

.mobile .alio-btn {
    font-size: 20px;
    line-height: 24px;
}

.alio-btn {

    &:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease-out;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
        height: 0;
        width: 0;
        opacity: 0;
        background-color: $purple;
    }

    &:hover i, &:hover span {
        color: #FFF;
        transform: translateX(0);
        opacity: 1;
    }

    &:focus {
        outline: none;
        text-decoration: none;
        color: #fff;

        span {
            color: #fff;
        }
    }


    .in-button {
        display: inline-block;
        transform: translateX(-17px);
        transition: transform .2s;
        transition-delay: .01s;
    }
}

input[type=submit]:not(#searchsubmit) {
    padding: 12px 28px;
}

.alio-btn i {
    font-size: 30px;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity .2s, transform .2s;
    color: #FFF;
    line-height: 4px;
}

.hamburger {
    display: none;
}

#alio_to_top a {
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 5px;
    right: 3%;
    width: 73px;
    height: 123px;
    opacity: 0.8;
    background: url('../img/rocket-arrow.png') no-repeat;
    background-size: contain;
    &:hover {
        opacity: 1;
    }
}

.inline-lnk {
    color: #00CCFF;
    font-weight: 400;
    &:hover {
        color: $lnkRed;
    }
    &:before {
        content: '\f08e';
        font-size: 8px;
        margin-right: 3px;
    }
}

a {
    color: #0099cc;

    &:hover, &:active, &:focus, button:focus {
        color: #ff0066;
        outline: 0;
        text-decoration: none;
    }
}

.alio-btn:focus span, a.alio-btn:active, a.alio-btn:hover {
    color: #fff;
}

a, a:hover, .alio-navbar > li > a:after, .alio-navbar > li:hover > a:after, .loop-btn, .loop-btn:hover, .single-gallery .layer, .single-gallery li:hover .layer {
    transition: all 0.2s ease-out;
}

b, strong {
    font-weight: bold;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

ul {
    color: #000;
    font-family: 'Roboto Condensed Regular',sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    padding-inline-start: 0;
}

.point-list {

    li {
        text-align: left;
        color: #000;

        ul {
            margin-top: 6px;
            padding-inline-start: 40px;
        }

        &:before {
            content: "\f013";
            margin-right: 5px;
        }
    }

    > li {
        margin-bottom: 10px;

        &:before {
            font-weight: bold;
        }

        > li {
            &:before {
                font-weight: lighter;
            }
        }

        &:after {
            content: '';
            display: block;
        }
    }

}

.point-list li:before, .inline-lnk:before {
    display: inline-block;
    font-family: 'Font Awesome\ 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div, span, a, li, h1, h2, h3, h4, h5, h6, td, input, textarea, button {
    -webkit-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz--text-size-adjust: none;
    text-size-adjust: none;
    max-height: 999999px;
}

input:focus {
    outline:none;
}

.page-title {
    margin: 38px 0;
    color: #FFF;
}

input[type=text], input[type=email], input[type=file] {
    height: 40px;
}

.loop-btn {
    background: none;
    border: 1px solid transparent;
    position: absolute;
    right: 6px;
    top: 7px;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}

input[type=text], input[type=email], textarea, input[type=file] {
    border: 1px solid #e3e3e3;
    color: #667282;
    font-size: 14px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form:not(#searchform) {
    input[type=submit] {
        margin-top: 20px;
    }
    input[type=text], input[type=email], textarea, input[type=file] {
        position: relative;
        background: url('../img/inputs-bg.png') left top repeat-y #ffffff;
        padding: 10px 10px 10px 45px;
        margin-top: 13px;
    }
    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }
}

input[type=text], input[type=email], textarea, input[type=file] {
    width: 100%;
}

input[type=text], input[type=password], input[type=submit], textarea {
    -webkit-appearance: none !important;
}

body {
    font-family: 'Roboto Condensed Regular',sans-serif;
    font-size: 16px;
    color: $grayColor;
}

a {
    font-family: 'Roboto Condensed Regular',sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 38px;
}

h2 {
    color: $grayColor;
    font-size: 2.2em;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-align: center;
}

h2:before {
    content: '~ ';
    font-weight: 300;
}

.mobile h2:before {
    content: '';
}

h3 {
    color: $grayColor;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 12px;
}

p {
    color: $grayColor;
    font-family: 'Roboto Condensed Regular',sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
