.alio-btn, input[type=submit]:not(#searchsubmit) {
    background: $middleGreen;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 28px 16px;
    line-height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 0px 0px $darkGreen;
    border-width: 2px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    letter-spacing: 1px;
    border-radius: 6px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
    font-family: 'Roboto Condensed Regular', sans-serif;

    &:hover {
        background: $lightGreen;
    }

    &:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease-out;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
        height: 0;
        width: 0;
        opacity: 0;
        background-color: $purple;
    }

    &:focus, &:focus span {
        color: #fff;
    }

    &:hover i, &:hover span {
        color: #FFF;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 1;
    }

    .in-button {
        display: inline-block;
        transform: translateX(-17px);
        transition: transform .2s;
        transition-delay: .01s;
    }
}

input[type=submit]:not(#searchsubmit) {
    padding: 12px 28px;
}

.alio-btn i {
    font-size: 30px;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity .2s, transform .2s;
    color: #FFF;
    line-height: 4px;
}

a {
    color: #0099cc;
}

.alio-btn:focus span, a.alio-btn:active, a.alio-btn:hover {
    color: #fff;
}

a:active, a:hover, button:focus {
    color: #ff0066;
    outline: 0;
    text-decoration: none;
}

a, a:hover, .alio-navbar > li > a:after, .alio-navbar > li:hover > a:after, .loop-btn, .loop-btn:hover, .single-gallery .layer, .single-gallery li:hover .layer {
    transition: all 0.2s ease-out;
}

b, strong {
    font-weight: bold;
}

body {
    font-family: 'Roboto Condensed Regular',sans-serif;
    color: $grayColor;
    font-size: 14px;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

ul {
    color: #000;
    font-family: 'Roboto Condensed Regular',sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    padding-inline-start: 0;
}

.point-list {

    li {
        text-align: left;
        color: #000;

        ul {
            margin-top: 6px;
            padding-inline-start: 40px;
        }

        &:before {
            content: "\f013";
            margin-right: 5px;
        }
    }

    > li {
        margin-bottom: 10px;

        &:before {
            font-weight: bold;
        }

        > li {
            &:before {
                font-weight: lighter;
            }
        }
    }

}

.point-list li:before, .inline-lnk:before {
    display: inline-block;
    font-family: 'Font Awesome\ 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div, span, a, li, h1, h2, h3, h4, h5, h6, td, input, textarea, button {
    -webkit-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz--text-size-adjust: none;
    text-size-adjust: none;
    max-height: 999999px;
}

input[type=text], input[type=password], input[type=submit], textarea {
    -webkit-appearance: none !important;
}

html, body {
    min-height: 100%}

body {
    font-family: 'Roboto Condensed Regular',sans-serif;
    font-size: 16px;
    color: $grayColor;
    background-color: #fff;
}

a {
    font-family: 'Roboto Condensed Regular',sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 38px;
}

h2 {
    color: $grayColor;
    font-size: 2.2em;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-align: center;
}

h2:before {
    content: '~ ';
    font-weight: 300;
}

h3 {
    color: $grayColor;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 12px;
}

p {
    color: $grayColor;
    font-family: 'Roboto Condensed Regular',sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
