/* M E D I A  Q U E R I E S */

/* max-width: 767px */
@media screen and (max-width: 767px) {
    .alio-navbar .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar .container {
        width: 100%;
        border-radius: 0;
    }

    .navbar .container .bg-navbar {
        top: 100%;
    }

    .header .top {
        display: none;
    }

    #isotope-list .item .image-block img {
        -ms-transform: scale(1.15);
        transform: scale(1.15);
    }

    #isotope-list .item .image-block .img-hover-overlay {
        opacity: .5;
    }

    #isotope-list .item .image-block .icons-holder {
        top: 60%;
        opacity: 1;
    }

    #isotope-list .item .image-block .meta-info {
        opacity: 1;
        bottom: 60%;
    }

    #isotope-list .item .image-block .img-hover-overlay:before {
        -ms-transform: scaleY(1)!important;
        transform: scaleY(1)!important;
    }

    #isotope-list .item .image-block .img-hover-overlay:after {
        -ms-transform: scaleX(1)!important;
        transform: scaleX(1)!important;
    }
}

/* min-width: 768px */
@media screen and (min-width: 768px) {

    .point-list {
        max-width: 315px;
        margin: auto;
    }

    #primary-navbar-collapse {
        text-align: center;
    }

    .header-contact-item a {
        text-transform: uppercase;
    }

    .lang-switcher {
        min-height: 53px;
    }

    .dropdown-menu {
        left: 0px;
    }

    .bg-bottom.no-wave {
        height: 50px;
    }

    .alio-btn:hover {
        background: $lightGreen;
    }

    .alio-btn:hover i, .alio-btn:hover span {
        color: #FFF;
        transform: translateX(0);
        opacity: 1;
    }

	.alio-navbar > li {
		display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
	}

	.menu-footer-menu-container {
		margin-top: 0;
	}

	#searchform {
		margin-top: 13px;
	}

	.alio-logo {
		float: left;
	}

	.header-contact-item a {
        line-height: 25px;
	}

    .navbar .container .bg-navbar div {
        border-top-left-radius: 55px;
    }

    .navbar .container .bg-navbar {
        padding-left: 54px;
        padding-right: 39px;
    }

    .header-contacts-box {
        float: right;
        margin-left: 12px;
    }

}

/* min-width: 992px */
@media screen and (min-width: 992px) {
	footer .menu a {
		padding-left: 8px;
	}

	#searchform {
		width: 100%;
	}

	.navbar-collapse {
		padding: 0;
	}

	.alio-navbar li a {
		padding: 0 7px;
	}

	.field_box i.fa.fa-upload {
		top: 25px;
	}
}

/* min-width: 1200px */
@media (min-width: 1200px) {
	.container.isotope {
	    width: 900px;
	}

    .navbar .container {
        width: 1190px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .alio-navbar > li {
        display: block;
        margin: 27px 5px 0;
    }

    .alio-navbar li a {
        padding: 0 12px;
    }

}

