.three-columns {
    text-align: center;

    &:hover {
        .item {
            opacity: 0.5;
            filter: alpha(opacity=50);
            transition: all .3s ease;
        }
    }

    .item {
        padding-bottom: 50px;
        transition: all .3s ease;

        .alio-btn {
            margin-top: 12px;

            &:hover {
                background: $middleGreen;
            }
        }

        p {
            text-align: left;
            color: #000;
            margin-bottom: 10px;
        }

        &:hover {
            opacity: 1;
            filter: none;
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}
