.three-columns {
    text-align: center;

    &:hover {
        .item {
            opacity: 0.5;
            filter: alpha(opacity=50);
            transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
        }
    }

    .item {
        height: 100%;

        .alio-btn {
            margin-top: 12px;
        }

        p {
            text-align: left;
            color: #000;
            margin-bottom: 10px;
        }

        &:hover {
            opacity: 1;
            -ms-filter: none;
            filter: none;
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}
