/* variables */

$purple: #541737;
$lightPurple: #968dba;
$superPurple: #990066;
$grayColor: #495057;
$lnkRed: #FF0033;
$blue: #3366CC;
$lightBlue: #d1e5ee;
$darkGreen: #206a07;
$middleGreen: #2c8d0a;
$lightGreen: #61C63C;

$footerSize: 251px;

$fonts-path: "../fonts";
$img-path: "../img";
