@import 'vars';
@import 'font';
@import "wp-core";
@import "interface";

@import "blocks/shortcodes";
@import "blocks/navbar";
@import "blocks/header";
@import "blocks/work";

#main-container {
    min-height: 100%;
    height: auto !important; /* for IE6 support */
    height: 100%;
    margin: 0 auto;
    margin-bottom: -$footerSize;
}

#push {
    height: $footerSize;
}

/******** General styles end ********/

.single .content.container > ol, .single .content.container > ul {
    list-style: inherit;
    margin-left: 18px;
}

.single .content.container > ul.point-list {
    list-style: none;
    margin-left: 0;
}

ul.dropdown-menu, ul#menu-footer-menu {
    margin: 0;
    list-style: none;
}

.content {
    padding-top: 50px;
    min-height: 250px;
    padding-bottom: 30px;
}

.sprite-sprite, .sprite-github, .sprite-github2, footer #contacts i.github, .sprite-link, #isotope-list .item .blank .stage-lnk.link b, .sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b, .sprite-mail, .sprite-mail2, footer #contacts i.mail, .sprite-map, footer #contacts i.point, .sprite-skype, .sprite-skype2, footer #contacts i.skype {
    background-image: url('../img/sprite-s882fa6ff2c.png');
    background-repeat: no-repeat;
}

.sprite-github {
    background-position: 0 0;
}

.sprite-github2, footer #contacts i.github {
    background-position: 0 -28px;
}

.sprite-link, #isotope-list .item .blank .stage-lnk.link b {
    background-position: 0 -61px;
}

.sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b {
    background-position: 0 -107px;
}

.sprite-mail {
    background-position: 0 -155px;
}

.sprite-mail2, footer #contacts i.mail {
    background-position: 0 -183px;
}

.sprite-map, footer #contacts i.point {
    background-position: 0 -215px;
}

.sprite-skype {
    background-position: 0 -249px;
}

.sprite-skype2, footer #contacts i.skype {
    background-position: 0 -278px;
}

#about {
    text-align: left;
}

.footer-contacts .contact-item {
    font-family: 'Roboto Condensed Regular',sans-serif;
    text-transform: none;
    font-weight: bold;
}

.description .alio-btn {
    margin-top: 20px;
}

.odd, .gray {
    background-color: transparent;
    position: relative;
    margin-top: 0;
}

.odd .bg-top, .gray .bg-top, .odd .bg-bottom, .gray .bg-bottom, header .bg-bottom {
    background-repeat: repeat-x;
    height: 15px;
    background-color: transparent;
}

.odd .bg-top {
    background-image: url("#{$img-path}/bg-top.png");
}

.bg-top {
    position: relative;
    bottom: -1px;
}

.gray {
    .bg-top {
        background-image: url("#{$img-path}/gray-bg-top.png");
    }
    .bg-middle {
        background-color: #ccc;
    }
    .bg-bottom {
        background-image: url("#{$img-path}/gray-bg-bottom.png");
        &.no-wave {
            background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00ffffff',GradientType=0 );
        }
    }
}

.bg-bottom.no-wave {
    height: 50px;
}

.odd .bg-middle {
    background-color: #effbfb;
}

.odd .bg-bottom {
    background-image: url("#{$img-path}/bg-bottom.png");
    &.no-wave {
        background: linear-gradient(to bottom,  rgba(239,251,251,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effbfb', endColorstr='#00ffffff',GradientType=0 );
    }
}

#isotope-list {
    overflow: hidden;
}

#isotope-list .item {
    margin-bottom: 30px;
    overflow: hidden;
    .image-block {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        overflow: hidden;
        line-height: 4px;
        vertical-align: baseline;
        &:hover {
            .icons-holder {
                top: 60%;
                opacity: 1;
            }
            .meta-info {
                opacity: 1;
                bottom: 60%;
            }
            img {
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);
            }
            .img-hover-overlay {
                opacity: .5;
                &:before {
                    -webkit-transform: scaleY(1)!important;
                    -ms-transform: scaleY(1)!important;
                    transform: scaleY(1)!important;
                }
                &:after {
                    -webkit-transform: scaleX(1)!important;
                    -ms-transform: scaleX(1)!important;
                    transform: scaleX(1)!important;
                }
            }
        }
        img {
            position: relative;
            width: 100%;
            z-index: 10;
            max-width: 100%;
            height: auto;
            border: 0;
            vertical-align: middle;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            transition: all .35s ease-in-out;
        }

        .icons-holder {
            position: absolute;
            top: 65%;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-in-out;
            z-index: 13;

            .hover-icon {
                display: inline-block;
                margin: 0 12px;
                line-height: 35px;
                text-align: center;
                opacity: .7;
                color: #fff;
                transition: all .15s ease-in-out;
                -webkit-perspective: 1000;

                small {
                    font-size: 14px;
                    display: block;
                }

                i {
                    font-size: 32px;
                    vertical-align: middle;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
        .meta-info {
            position: absolute;
            bottom: 70%;
            left: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-out;
            z-index: 20;
            .the-title {
                padding: 0 20px;
                font-size: 14px!important;
                line-height: 18px!important;
                font-weight: 700;
                margin-bottom: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #fff!important;
            }
        } 
        .img-hover-overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background-color: #000;
            z-index: 11;
            transition: opacity .25s ease-in-out;
            &:before, &:after {
                content: '';
                position: absolute;
                top: 9%;
                left: 8%;
                right: 8%;
                bottom: 9%;
                opacity: 1;
                display: block;
                transition: all .35s ease-out;
            }
            &:before {
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: scaleY(0)!important;
                -ms-transform: scaleY(0)!important;
                transform: scaleY(0)!important;
            }
            &:after {
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                -webkit-transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleX(0)!important;
                -ms-transform: scaleX(0)!important;
                transform: scaleX(0)!important;
            }
        }
    }
}

#filters {
    list-style: none;
    padding: 0;
    margin: 18px 0 26px;
    text-align: center;
}

#filters li {
    cursor: pointer;
    display: inline-block;
    margin: 6px;
}

#filters a {
    color: #545454;
    font-size: 16px;
    display: inline-block;
    line-height: 32px;
    padding: 0 13px;
    border: 1px solid #545454;
}

#filters a:hover, #filters a.selected {
    background: #FFF;
    color: #000;
}

.transition, #isotope-list .item .blank, #isotope-list .item .blank .layer, #isotope-list .item .blank h4, #isotope-list .item .blank .stage-lnk, #isotope-list .item:hover .blank, #isotope-list .item:hover .blank .layer, #isotope-list .item:hover .blank h4, #isotope-list .item:hover .blank .stage-lnk {
    transition: all .5s ease-in-out 0s;
}

.lnk-opacity, footer #contacts span, footer .menu li {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.lnk-opacity:hover, footer #contacts span:hover, footer .menu li:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

footer {
    padding-top: 50px;
    color: #fff;
    position: relative;
    background: url(../img/bg-footer.png) no-repeat;
    background-size: cover;
    .top-footer {
        padding-bottom: 18px;
    }
}

footer p {
    color: #FFF;
    margin-bottom: 25px;
}

footer #contacts {
    overflow: hidden;
}

footer #contacts span {
    display: block;
    line-height: 29px;
    float: left;
    clear: both;
}

footer #contacts a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Roboto Condensed Regular',sans-serif;
    text-transform: none;
    font-weight: bold;
}

footer #contacts i {
    position: absolute;
    display: block;
    left: 0;
    width: 23px;
    height: 23px;
}

footer #contacts i.point {
    width: 22px;
    height: 24px;
}

footer #contacts i.mail {
    width: 22px;
    height: 22px;
}

footer .menu li {
    float: left;
    clear: both;
}

footer .menu a {
    color: #fff;
}

menu-footer-menu-container {
    margin-top: 20px;
}

footer .menu a:hover {
    text-decoration: none;
}

footer .footer-bottom {
    background-image: url("#{$img-path}/bg-ribbon-b.png");
    background-position: center top;
    background-repeat: repeat-x;
    color: #fff;
    font-size: 0.8em;
    line-height: 47px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    padding: 20px 0 0 0;
    position: relative;
}

footer .footer-bottom .row {
    padding: 0;
}

footer .footer-bottom .copy {
    text-transform: uppercase;
}

.inline-lnk {
    color: #00CCFF;
    font-weight: 400;
    &:hover {
        color: $lnkRed;
    }
    &:before {
        content: '\f08e';
        font-size: 8px;
        margin-right: 3px;
    }
}

section.shortcode-box {
    .bg-middle {
        padding: 50px 0;
    }
}

.divider.wave {
    height: 16px;
    background:transparent url('../img/wave-divider.png') left top repeat-x;
}

#alio_to_top a {
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 5px;
    right: 3%;
    width: 73px;
    height: 123px;
    opacity: 0.8;
    background: url('../img/rocket-arrow.png') no-repeat;
    background-size: contain;
    &:hover {
        opacity: 1;
    }
}

.search-holder.col-xs-9 {
    float: right;
}

#searchform {
    position: relative;
    float: right;
    width: 200px;
    input[type=text] {
        padding: 10px 45px 10px 10px;
        border-radius: 20px;
    }
}

input:focus {
    outline:none;
}

.page-title {
    margin-top: 33px;
    color: #FFF;
    margin-bottom: 20px;
}

input[type=text], input[type=email], input[type=file] {
    height: 40px;
}

.loop-btn {
    background: none;
    border: 1px solid transparent;
    position: absolute;
    right: 6px;
    top: 11px;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}

input[type=text], input[type=email], textarea, input[type=file] {
        border: 1px solid #e3e3e3;
        color: #667282;
        font-size: 14px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form:not(#searchform) {
    input[type=submit] {
        margin-top: 20px;
    }
    input[type=text], input[type=email], textarea, input[type=file] {
        position: relative;
        background: url('../img/inputs-bg.png') left top repeat-y #ffffff;
        padding: 10px 10px 10px 45px;
        margin-top: 13px;
    }
    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }
}

.order-form form {
    position: relative;
    overflow: hidden;
}

input[type=text], input[type=email], textarea, input[type=file] {
    width: 100%;
}

.field_box {
    margin-bottom: 36px;

    i.fa {
        z-index: 11;
        color: #545454;
        position: absolute;
        left: 29px;
        top: 25px;

        &.fa-upload {
            top: 16px;
        }
    }

    &.odd-field {
            i.fa {
            left: 25px;
        }
    }
}

p.description {
    font-size: 12px;
}

.single h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #3415B0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: $superPurple;
    background-color: transparent;
    background-image: none;
}

/******** Other styles end ********/

@import "responsive";
