@import 'vars';
@import 'font';

html, body {
    height: 100%;
}

b, strong {
    font-weight: bold;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: $textColor;
    font-size: 14px;
}

// WordPress Core
.alignnone {
    margin: 0 15px 15px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto 15px auto;
}

.alignright {
    float: right;
    margin: 0 0 15px 15px;
}

.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px auto;
}

a img.alignright {
    float: right;
    margin: 0 0 15px 15px;
}

a img.alignnone {
    margin: 0 15px 15px 0;
}

a img.alignleft {
    float: left;
    margin: 0 15px 15px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    max-width: 100%;
    padding: 6px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 0 15px 15px 0;
}

.wp-caption.alignleft {
    margin: 0 15px 15px 0;
}

.wp-caption.alignright {
    margin: 0 0 15px 15px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 14px;
    margin: 0;
    padding: 6px 6px 0;
}

.sticky {
    display: block;
}
// WordPress Core end

#main-container {
    min-height: 100%;
    height: auto !important; /* for IE6 support */
    height: 100%;
    margin: 0 auto;
    margin-bottom: -$footerSize;
}

#push {
    height: $footerSize;
}

/******** General styles end ********/

/******** Other styles ********/

a, a:hover, .alio-navbar > li > a:after, .alio-navbar > li:hover > a:after, .loop-btn, .loop-btn:hover, .single-gallery .layer, .single-gallery li:hover .layer {
    -webkit-transition: all 0.2s ease-out;;
       -moz-transition: all 0.2s ease-out;;
        -ms-transition: all 0.2s ease-out;;
         -o-transition: all 0.2s ease-out;;
            transition: all 0.2s ease-out;;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

.single .content.container > ol, .single .content.container > ul {
    list-style: inherit;
    margin-left: 18px;
}

.single .content.container > ul.point-list {
    list-style: none;
    margin-left: 0;
}

ul.dropdown-menu, ul#menu-footer-menu {
    margin: 0;
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.content {
    padding-top: 50px;
    min-height: 250px;
    padding-bottom: 30px;
}

.sprite-sprite, .sprite-github, .sprite-github2, footer #contacts i.github, .sprite-link, #isotope-list .item .blank .stage-lnk.link b, .sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b, .sprite-mail, .sprite-mail2, footer #contacts i.mail, .sprite-map, footer #contacts i.point, .sprite-skype, .sprite-skype2, footer #contacts i.skype {
    background-image: url('../img/sprite-s882fa6ff2c.png');
    background-repeat: no-repeat;
}

.sprite-github {
    background-position: 0 0;
}

.sprite-github2, footer #contacts i.github {
    background-position: 0 -28px;
}

.sprite-link, #isotope-list .item .blank .stage-lnk.link b {
    background-position: 0 -61px;
}

.sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b {
    background-position: 0 -107px;
}

.sprite-mail {
    background-position: 0 -155px;
}

.sprite-mail2, footer #contacts i.mail {
    background-position: 0 -183px;
}

.sprite-map, footer #contacts i.point {
    background-position: 0 -215px;
}

.sprite-skype {
    background-position: 0 -249px;
}

.sprite-skype2, footer #contacts i.skype {
    background-position: 0 -278px;
}

div, span, a, li, h1, h2, h3, h4, h5, h6, td, input, textarea, button {
    -webkit-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz--text-size-adjust: none;
    text-size-adjust: none;
    max-height: 999999px;
}

input[type=text], input[type=password], input[type=submit], textarea {
    -webkit-appearance: none !important;
}

html, body {
    min-height: 100%}

body {
    font-family: 'Ubuntu',  sans-serif;
    font-size: 16px;
    color: #6b7285;
    background-color: #fff;
}

a {
    font-family: 'Ubuntu',  sans-serif;
    text-decoration: none;
}

h1 {
    font-size: 38px;
}

h2 {
    color: #6b7285;
    font-size: 2.2em;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-align: center;
}

h2:before {
    content: ' ~ ';
    font-weight: 300;
    margin: 0 0 0 -35px;
}

h3 {
    color: #6b7285;
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 12px;
}

p {
    color: #6b7285;
    font-family: 'Ubuntu',  sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5em;
}

ul {
    color: #000;
    font-family: 'Ubuntu',  sans-serif;
    line-height: 1.5em;
    font-weight: 300;
}

.hmbrgr {
    margin-top: 26px;
    float: left;
}

.alio-logo {
    float: right;
    padding: 5px 15px 11px 0;
}

.navbar-toggle {
    background: #4c74af;
    background: -webkit-linear-gradient(top,  #978ebb,  #4c74af);
    background: -moz-linear-gradient(top,  #978ebb,  #4c74af);
    background: -o-linear-gradient(top,  #978ebb,  #4c74af);
    background: -ms-linear-gradient(top,  #978ebb,  #4c74af);
    background: linear-gradient(to bottom,  #978ebb,  #4c74af);
}

.navbar-toggle span {
    background: #fff;
}

.alio-navbar {
    display: inline-block;
    .dropdown-menu {
        background-color: rgba(242, 239, 239, 0.93);
        font-weight: 400;
        a {
            border-bottom: 1px solid #e8e5e5;
            padding-top: 9px;
            padding-bottom: 9px;
            color: #333333;
            font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 13px;
            border: 0;
            padding: 7px 20px;
            line-height: 19px;
            text-indent: 0;
            height: auto;
            display: block;
            box-sizing: content-box;
        }
    }
}

.alio-navbar > li {
    display: block;
    margin: 27px 5px 0px;
}

.alio-navbar li a {
    display: inline-block;
    color: $superPurple;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 0 12px;
    text-transform: uppercase;
}

.alio-navbar li.active a, .alio-navbar li a:hover {
    color: $blue;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
}

.alio-navbar li i {
    border-right: 1px solid #dfe8ed;
    display: block;
    height: 29px;
    left: 100%;
    position: absolute;
    top: 0;
    width: 3px;
}

#about {
    text-align: left;
}

.navbar {
    border: none;
    width: 100%;
}

.navbar .container {
    background: #d1e5ee;
    background: -webkit-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
    background: -moz-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
    background: -o-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
    background: -ms-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
    background: linear-gradient(to bottom,  #f6fafd 0%,  #d1e5ee 100%);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    border-bottom-left-radius: 46px;
    border-top-left-radius: 46px;
    border-bottom-right-radius: 46px;
    border-top-right-radius: 46px;
}

.navbar.sticky {
    position: fixed;
    top: -1px;
    z-index: 500;
    .container {
        background: rgba(255, 255, 255, 0.8);
        -webkit-box-shadow: 1px 6px 15px 0px rgba(0, 0, 0, 0.3), -1px -4px 6px -1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px -4px 6px -1px rgba(0, 0, 0, 0.3), -1px -4px 6px -1px rgba(0, 0, 0, 0.3);
    }
}
    

#primary-navbar-collapse {
    text-align: right;
}

.navbar .container .bg-navbar {
    left: 0;
    position: absolute;
    top: 99%;
    width: 100%;
}

.nav-holder {
    padding: 10px 0;
}

.navbar .container .bg-navbar div {
    background-image: url("#{$img-path}/bg-nav-bottom.png");
    background-position: bottom center;
    background-repeat: repeat-x;
    height: 10px;
    width: 100%;
}

.navbar.sticky .container .bg-navbar {
    top: 100%;
}

.navbar.sticky .container .bg-navbar div {
    background-image: url("#{$img-path}/bg-nav-bottom-white.png");
    opacity: .8;
    border-bottom-right-radius: 45px;
}

.three-columns {
    text-align: center;
}

.three-columns:hover .item {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
    -moz-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
    -ms-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
    -o-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
    transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
}

.three-columns h3 {
    margin-bottom: 10px;
}

.point-list li, .three-columns .item p {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
}

.point-list li:before {
    content: "\f00c";
    margin-right: 5px;
}

.point-list li:before, .inline-lnk:before {
    display: inline-block;
    font: normal normal normal 14px/1 "Font Awesome\ 5 Pro";
    font-family: 'Font Awesome\ 5 Pro';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.three-columns .item:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.alio-navbar > li > a:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: $blue;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    transition: all .15s ease-out;
    filter: alpha(opacity=100);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.alio-navbar > li:hover > a:after {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,1);
    filter: alpha(opacity=100);
    -moz-opacity: 100;
    -khtml-opacity: 100;
    opacity: 100;
    opacity: 1;
}

.alio-navbar > li > a:hover, .alio-navbar.nav > li > a:focus {
    background-color: transparent;
    color: $blue;
    text-decoration: none;
}

.header {
    min-height: 397px;
    width: 100%;
    background: url("#{$img-path}/bg-header.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.header.middle {
    min-height: 358px;
}

.header .top {
    font-size: 12px;
    font-weight: 800;
    line-height: 32px;
    min-height: 46px;
}

.header .top .row>div {
    overflow: hidden;
}

.header .contact-item:hover {
    opacity: 1;
}

.header .top .row .right.contacts-top, .header .top .row .right.contacts-bottom {
    text-align: center;
}

.contacts-holder {
    line-height: 25px;
}

.footer-contacts .contact-item {
    font-family: Ubuntu;
    text-transform: none;
    font-weight: bold;
}

.contact-item {
    overflow: hidden;
    display: inline-block;
    position: relative;
    opacity: .5;
    transition: all .3s ease;
    a {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        padding-top: 2px;
        display: block;
        float: left;
        color: #fff;
        margin-left: 34px;
        i {
            position: absolute;
            left: 5px;
            background: #fff;
            border-radius: 100%;
            padding: 4px;
            font-size: 14px;
            width: 22px;
            height: 22px;
        }
        i:before {
            color: #000;
        }
    }
    a:hover {
        color: #FFF;
        text-decoration: none;
    }
}

.header .bottom {
    text-transform: uppercase;
    font-family: Hermes,  sans-serif;
    text-shadow: 3px 0 rgba(250, 111, 142, .5), 6px 0 rgba(250, 111, 142, .4), 9px 0 rgba(250, 111, 142, .3), 12px 0 rgba(250, 111, 142, .2), 15px 0 rgba(250, 111, 142, .1);
    font-size: 14px;
}

.header .bottom .description {
    position: relative;
    color: #FFF;
    margin: 22px auto 50px;
    text-align: right;
}

.header .bottom .description small {
    font-size: 40px;
    font-weight: 300;
    line-height: 72px;
}

.header .bottom .description span.address {
    font-size: 62px;
    font-weight: 300;
    display: block;
    line-height: 60px;
}

.description .alio-btn {
    margin-top: 20px;
}

.alio-btn, input[type=submit]:not(#searchsubmit) {
    background: #2c8d0a;
    background: linear-gradient(to bottom, #b5fe01, #2c8d0a);
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 28px 16px;
    line-height: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 0px 0px #206a07;
    border-width: 2px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    letter-spacing: 1px;
    border-radius: 6px;
    box-sizing: border-box;
    backface-visibility: hidden;
    transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
    font-family: Hermes,  sans-serif;

    &:hover {
        background: linear-gradient(to bottom,  #5ef700,  #2b8c0b);
    }

    &:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease-out;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
        height: 0;
        width: 0;
        opacity: 0;
        background-color: $purple;
    }

    &:focus, &:focus span {
        color: #fff;
    }

    &:hover i, &:hover span {
        color: #FFF;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 1;
    }

    .in-button {
        display: inline-block;
        transform: translateX(-17px);
        transition: transform .2s;
        transition-delay: .01s;
    }
}

input[type=submit]:not(#searchsubmit) {
    padding: 12px 28px;
}

.alio-btn i {
    font-size: 30px;
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity .2s, transform .2s;
    color: #FFF;
    line-height: 4px;
}

a {
    color: #0099cc;
}

.alio-btn:focus span, a.alio-btn:active, a.alio-btn:hover {
    color: #fff;
}

a:active, a:hover, button:focus {
    color: #ff0066;
    outline: 0;
    text-decoration: none;
}

.live-site-lnk {
    margin-top: 14px;
    display: inline-block;
}

.odd, .gray {
    background-color: transparent;
    position: relative;
    margin-top: 0;
}

.odd .bg-top, .gray .bg-top, .odd .bg-bottom, .gray .bg-bottom, header .bg-bottom {
    background-repeat: repeat-x;
    height: 15px;
    background-color: transparent;
}

header .bg-bottom {
    background-image: url("#{$img-path}/white-bg-top.png");
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.odd .bg-top {
    background-image: url("#{$img-path}/bg-top.png");
}

.bg-top {
    position: relative;
    bottom: -1px;
}

.gray {
    .bg-top {
        background-image: url("#{$img-path}/gray-bg-top.png");
    }
    .bg-middle {
        background-color: #ccc;
    }
    .bg-bottom {
        background-image: url("#{$img-path}/gray-bg-bottom.png");
        &.no-wave {
            background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00ffffff',GradientType=0 );
        }
    }
}

.bg-bottom.no-wave {
    height: 50px;
}

.odd .bg-middle {
    background-color: #effbfb;
}

.odd .bg-bottom {
    background-image: url("#{$img-path}/bg-bottom.png");
    &.no-wave {
        background: -moz-linear-gradient(top,  rgba(239,251,251,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(top,  rgba(239,251,251,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom,  rgba(239,251,251,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effbfb', endColorstr='#00ffffff',GradientType=0 );
    }
}

#isotope-list {
    overflow: hidden;
}

#isotope-list .item {
    margin-bottom: 30px;
    overflow: hidden;
    .image-block {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        overflow: hidden;
        line-height: 4px;
        vertical-align: baseline;
        &:hover {
            .icons-holder {
                top: 60%;
                opacity: 1;
            }
            .meta-info {
                opacity: 1;
                bottom: 60%;
            }
            img {
                -webkit-transform: scale(1.15);
                -ms-transform: scale(1.15);
                transform: scale(1.15);
            }
            .img-hover-overlay {
                opacity: .5;
                &:before {
                    -webkit-transform: scaleY(1)!important;
                    -ms-transform: scaleY(1)!important;
                    transform: scaleY(1)!important;
                }
                &:after {
                    -webkit-transform: scaleX(1)!important;
                    -ms-transform: scaleX(1)!important;
                    transform: scaleX(1)!important;
                }
            }
        }
        img {
            position: relative;
            width: 100%;
            z-index: 10;
            max-width: 100%;
            height: auto;
            border: 0;
            vertical-align: middle;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            transition: all .35s ease-in-out;
        }

        .icons-holder {
            position: absolute;
            top: 65%;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-in-out;
            z-index: 13;

            .hover-icon {
                display: inline-block;
                margin: 0 12px;
                line-height: 35px;
                text-align: center;
                opacity: .7;
                color: #fff;
                transition: all .15s ease-in-out;
                -webkit-perspective: 1000;

                small {
                    font-size: 14px;
                    display: block;
                }

                i {
                    font-size: 32px;
                    vertical-align: middle;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
        .meta-info {
            position: absolute;
            bottom: 70%;
            left: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s ease-out;
            z-index: 20;
            .the-title {
                padding: 0 20px;
                font-size: 14px!important;
                line-height: 18px!important;
                font-weight: 700;
                margin-bottom: 15px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #fff!important;
            }
        } 
        .img-hover-overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            background-color: #000;
            z-index: 11;
            transition: opacity .25s ease-in-out;
            &:before, &:after {
                content: '';
                position: absolute;
                top: 9%;
                left: 8%;
                right: 8%;
                bottom: 9%;
                opacity: 1;
                display: block;
                transition: all .35s ease-out;
            }
            &:before {
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                -webkit-transform-origin: 100% 0;
                -ms-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transform: scaleY(0)!important;
                -ms-transform: scaleY(0)!important;
                transform: scaleY(0)!important;
            }
            &:after {
                border-bottom: 1px solid #fff;
                border-top: 1px solid #fff;
                -webkit-transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleX(0)!important;
                -ms-transform: scaleX(0)!important;
                transform: scaleX(0)!important;
            }
        }
    }
}

#filters {
    list-style: none;
    padding: 0;
    margin: 18px 0 26px;
    text-align: center;
}

#filters li {
    cursor: pointer;
    display: inline-block;
    margin: 6px;
}

#filters a {
    color: #545454;
    font-size: 16px;
    display: inline-block;
    line-height: 32px;
    padding: 0 13px;
    border: 1px solid #545454;
}

#filters a:hover, #filters a.selected {
    background: #FFF;
    color: #000;
}

.transition, #isotope-list .item .blank, #isotope-list .item .blank .layer, #isotope-list .item .blank h4, #isotope-list .item .blank .stage-lnk, #isotope-list .item:hover .blank, #isotope-list .item:hover .blank .layer, #isotope-list .item:hover .blank h4, #isotope-list .item:hover .blank .stage-lnk {
    transition: all .5s ease-in-out 0s;
}

.lnk-opacity, footer #contacts span, footer .menu li {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.lnk-opacity:hover, footer #contacts span:hover, footer .menu li:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

footer {
    padding-top: 50px;
    color: #fff;
    position: relative;
    background: url(../img/bg-footer.png) no-repeat;
    background-size: cover;
    .top-footer {
        padding-bottom: 18px;
    }
}

footer p {
    color: #FFF;
    margin-bottom: 25px;
}

footer #contacts {
    overflow: hidden;
}

footer #contacts span {
    display: block;
    line-height: 29px;
    float: left;
    clear: both;
}

footer #contacts a {
    color: #FFF;
    text-decoration: none;
    font-family: Ubuntu;
    text-transform: none;
    font-weight: bold;
}

footer #contacts i {
    position: absolute;
    display: block;
    left: 0;
    width: 23px;
    height: 23px;
}

footer #contacts i.point {
    width: 22px;
    height: 24px;
}

footer #contacts i.mail {
    width: 22px;
    height: 22px;
}

footer .menu li {
    float: left;
    clear: both;
}

footer .menu a {
    color: #fff;
}

menu-footer-menu-container {
    margin-top: 20px;
}

footer .menu a:hover {
    text-decoration: none;
}

footer .footer-bottom {
    background-image: url("#{$img-path}/bg-ribbon-b.png");
    background-position: center top;
    background-repeat: repeat-x;
    color: #fff;
    font-size: 0.8em;
    line-height: 47px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    padding: 20px 0 0 0;
    position: relative;
}

footer .footer-bottom .row {
    padding: 0;
}

footer .footer-bottom .copy {
    text-transform: uppercase;
}

.inline-lnk {
    color: #00CCFF;
    font-weight: 400;
    &:hover {
        color: $lnkRed;
    }
    &:before {
        content: '\f08e';
        font-size: 8px;
        margin-right: 3px;
    }
}

section.shortcode-box {
    .bg-middle {
        padding: 50px 0;
    }
}

.divider.wave {
    height: 16px;
    background:transparent url('../img/wave-divider.png') left top repeat-x;
}

#alio_to_top a {
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 5px;
    right: 3%;
    width: 73px;
    height: 123px;
    opacity: 0.8;
    background: url('../img/rocket-arrow.png') no-repeat;
    background-size: contain;
    &:hover {
        opacity: 1;
    }
}

.search-holder.col-xs-9 {
    float: right;
}

#searchform {
    position: relative;
    float: right;
    width: 200px;
    input[type=text] {
        padding: 10px 45px 10px 10px;
        border-radius: 20px;
    }
}

input:focus {
    outline:none;
}

.page-title {
    margin-top: 33px;
    color: #FFF;
    margin-bottom: 20px;
}

input[type=text], input[type=email], input[type=file] {
    height: 40px;
}

.loop-btn {
    background: none;
    border: 1px solid transparent;
    position: absolute;
    right: 6px;
    top: 11px;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}

input[type=text], input[type=email], textarea, input[type=file] {
        border: 1px solid #e3e3e3;
        color: #667282;
        font-size: 14px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

form:not(#searchform) {
    input[type=submit] {
        margin-top: 20px;
    }
    input[type=text], input[type=email], textarea, input[type=file] {
        position: relative;
        background: url('../img/inputs-bg.png') left top repeat-y #ffffff;
        padding: 10px 10px 10px 45px;
        margin-top: 13px;
    }
    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }
}

.order-form form {
    position: relative;
    overflow: hidden;
}

input[type=text], input[type=email], textarea, input[type=file] {
    width: 100%;
}

.field_box {
    margin-bottom: 36px;

    i.fa {
        z-index: 11;
        color: #545454;
        position: absolute;
        left: 29px;
        top: 25px;

        &.fa-upload {
            top: 16px;
        }
    }

    &.odd-field {
            i.fa {
            left: 25px;
        }
    }
}

p.description {
    font-size: 12px;
}

.single-gallery {
    li {
        position: relative;
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 15px;
        border: 1px solid #ccc;

        .layer {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(52, 21, 176, 0.44);
            opacity: 0;
            i {
                display: block;
                position: absolute;
                height: 30px;
                width: 30px;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                color: #fff;
                font-size: 30px;
            }
        }
        &:hover {
            .layer {
                opacity: 1;
            }
        }
    }
}

.single h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #3415B0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: $superPurple;
    background-color: transparent;
    background-image: none;
}

/******** Other styles end ********/
