@import "libs";
@import "vars";
@import "font";
@import "wp-core";
@import "interface";

@import "blocks/shortcodes";
@import "blocks/navbar";
@import "blocks/header";
@import "blocks/work";
@import "blocks/footer";

#main-container {
    min-height: 100%;
    height: auto !important; /* for IE6 support */
    height: 100%;
    margin: 0 auto;
    margin-bottom: -$footerSize;
    background: #fff;
}

#push {
    height: $footerSize;
}

/******** General styles end ********/

.single .content.container > ol, .single .content.container > ul {
    list-style: inherit;
    margin-left: 18px;
}

.single .content.container > ul.point-list {
    list-style: none;
    margin-left: 0;
}

ul.dropdown-menu, ul#menu-footer-menu {
    margin: 0;
    list-style: none;
}

.content {
    padding-top: 50px;
    min-height: 250px;
    padding-bottom: 30px;
}

.sprite-sprite, .sprite-github, .sprite-github2, footer #contacts i.github, .sprite-link, #isotope-list .item .blank .stage-lnk.link b, .sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b, .sprite-mail, .sprite-mail2, footer #contacts i.mail, .sprite-map, footer #contacts i.point, .sprite-skype, .sprite-skype2, footer #contacts i.skype {
    background-image: url('../img/sprite-s882fa6ff2c.png');
    background-repeat: no-repeat;
}

.sprite-github {
    background-position: 0 0;
}

.sprite-github2, footer #contacts i.github {
    background-position: 0 -28px;
}

.sprite-link, #isotope-list .item .blank .stage-lnk.link b {
    background-position: 0 -61px;
}

.sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b {
    background-position: 0 -107px;
}

.sprite-mail {
    background-position: 0 -155px;
}

.sprite-mail2, footer #contacts i.mail {
    background-position: 0 -183px;
}

.sprite-map, footer #contacts i.point {
    background-position: 0 -215px;
}

.sprite-skype {
    background-position: 0 -249px;
}

.sprite-skype2, footer #contacts i.skype {
    background-position: 0 -278px;
}

#about {
    text-align: left;
}

.footer-contacts .contact-item {
    font-family: 'Roboto Condensed Regular',sans-serif;
    text-transform: none;
    font-weight: bold;
}

.order-form form {
    position: relative;
    overflow: hidden;
}

.field_box {
    margin-bottom: 36px;

    i.fa {
        z-index: 11;
        color: #545454;
        position: absolute;
        left: 29px;
        top: 25px;

        &.fa-upload {
            top: 16px;
        }
    }

    &.odd-field {
            i.fa {
            left: 25px;
        }
    }
}

p.description {
    font-size: 12px;
}

.single h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #3415B0;
}

/******** Other styles end ********/

@import "responsive";
