.header {
    min-height: 295px;
    width: 100%;
    position: relative;
    background: url("#{$img-path}/bg-header.jpg") no-repeat;
    background-size: cover;

    &-top {
        font-size: 12px;
        font-weight: 800;
        padding: 12px 0;
    }

    &-contact-item {
        display: block;
        transition: all .3s ease;
        clear: both;
        text-align: right;

        a {
            font-family: 'Roboto Condensed Regular', sans-serif;
            padding-top: 2px;
            display: inline-block;
            color: #fff;
            padding-right: 30px;
            line-height: 23px;
            position: relative;
            opacity: .5;

            i {
                position: absolute;
                right: 0;
                background: #fff;
                border-radius: 100%;
                padding: 4px;
                font-size: 14px;
                width: 22px;
                height: 22px;
            }

            i:before {
                color: #000;
            }
        }

        a:hover {
            opacity: 1;
            color: #FFF;
            text-decoration: none;
        }
    }

    &-bottom {
        text-transform: uppercase;
        font-family: Hermes,  sans-serif;
        text-shadow: 3px 0 rgba(250, 111, 142, .5), 6px 0 rgba(250, 111, 142, .4), 9px 0 rgba(250, 111, 142, .3), 12px 0 rgba(250, 111, 142, .2), 15px 0 rgba(250, 111, 142, .1);
        font-size: 14px;
    }

    &-action {
        position: relative;
        color: #FFF;
        margin: 22px auto 50px;
        text-align: right;

        &-heading {
            font-size: 40px;
            font-weight: 300;
            line-height: 72px;
        }

        &-answer {
            font-size: 62px;
            font-weight: 300;
            display: block;
            line-height: 60px;
        }

        .alio-btn {
            margin-top: 20px;
        }
    }

    .bg-bottom {
        background-image: url("#{$img-path}/white-bg-top.png");
        position: absolute;
        bottom: -1px;
        width: 100%;
    }
}

.header.middle {
    min-height: 280px;
}

.lang-switcher {
    display: table;

    .language-chooser {
        margin-bottom: 0;
        display: table-cell;
        vertical-align: middle;
    }
}
