.three-columns {
    text-align: center;

    .item {
        padding-bottom: 50px;
        transition: all .3s ease;

        img {
            max-width: 100%;
        }

        .alio-btn {
            margin-top: 12px;

            &:hover {
                background: $middleGreen;
            }
        }

        p {
            text-align: left;
            color: #000;
            margin-bottom: 10px;
            display: inline-block;
        }
    }

    h3 {
        margin-bottom: 10px;
    }
}

body:not(.mobile) .three-columns:not(.no-dynamic-opacity):hover {
    .item {
        opacity: 0.5;
        filter: alpha(opacity=50);
        transition: all .3s ease;

        &:hover {
            opacity: 1;
            filter: none;
        }
    }
}
