@import "http://webfonts.ru/import/roboto.css";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

.sprite-sprite, .sprite-github, .header .top .github i, .sprite-github2, footer #contacts i.github, .sprite-link, #container li .blank .stage-lnk.link b, .sprite-loop, #container li .blank .stage-lnk.zoom b, .sprite-mail, .header .top .mail i, .sprite-mail2, footer #contacts i.mail, .sprite-map, footer #contacts i.point, .sprite-skype, .header .top .skype i, .sprite-skype2, footer #contacts i.skype {
	background-image: url('img/sprite-s882fa6ff2c.png');
	background-repeat: no-repeat;
}

.sprite-github, .header .top .github i {
	background-position: 0 0;
}

.sprite-github2, footer #contacts i.github {
	background-position: 0 -28px;
}

.sprite-link, #container li .blank .stage-lnk.link b {
	background-position: 0 -61px;
}

.sprite-loop, #container li .blank .stage-lnk.zoom b {
	background-position: 0 -107px;
}

.sprite-mail, .header .top .mail i {
	background-position: 0 -155px;
}

.sprite-mail2, footer #contacts i.mail {
	background-position: 0 -183px;
}

.sprite-map, footer #contacts i.point {
	background-position: 0 -215px;
}

.sprite-skype, .header .top .skype i {
	background-position: 0 -249px;
}

.sprite-skype2, footer #contacts i.skype {
	background-position: 0 -278px;
}

div, span, a, li, h1, h2, h3, h4, h5, h6, td, input, textarea, button {
	-webkit-text-size-adjust: none;
	-o-text-size-adjust: none;
	-moz--text-size-adjust: none;
	text-size-adjust: none;
	max-height: 999999px;
}

input[type=text], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none !important;
}

html, body {
	min-height: 100%}

body {
	font-family: 'Roboto',  sans-serif;
	font-size: 16px;
	color: #6b7285;
	background-color: #fff;
}

a {
	font-family: 'Roboto',  sans-serif;
	text-decoration: none;
}

h1 {
	font-size: 38px;
}

h2 {
	color: #6b7285;
	font-size: 2.2em;
	font-weight: 300;
	margin: 0 0 20px 0;
	text-align: center;
}

h2:before {
	content: ' ~ ';
	font-weight: 300;
	margin: 0 0 0 -35px;
}

h3 {
	color: #305fa3;
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 0;
}

p {
	color: #6b7285;
	font-family: 'Roboto',  sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5em;
}

ul {
	color: #6b7285;
	font-family: 'Roboto',  sans-serif;
	line-height: 1.5em;
	font-weight: 300;
}

#main-container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: -251px;
}

.navbar-brand {
	height: inherit;
}

.navbar-toggle {
	background: #4c74af;
	background: -webkit-linear-gradient(top,  #978ebb,  #4c74af);
	background: -moz-linear-gradient(top,  #978ebb,  #4c74af);
	background: -o-linear-gradient(top,  #978ebb,  #4c74af);
	background: -ms-linear-gradient(top,  #978ebb,  #4c74af);
	background: linear-gradient(to bottom,  #978ebb,  #4c74af);
}

.navbar-toggle span {
	background: #fff;
}

.navbar-nav {
	float: none;
	min-height: 70px;
	text-align: right;
}

.navbar-nav li {
	display: inline-block;
	float: none;
	padding: 0 10px;
	position: relative;
}

.navbar-nav li a {
	color: #3371ac;
	font-size: 14px;
	font-weight: 700;
	line-height: 70px;
	padding: 0 12px;
	text-transform: uppercase;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.navbar-nav li.active a {
	background-color: transparent;
	color: #968dba;
}

.navbar-nav li i {
	border-right: 1px solid #dfe8ed;
	display: block;
	height: 29px;
	left: 100%;
	position: absolute;
	top: 0;
	width: 3px;
}

#about {
	text-align: left;
}

.navbar .container {
	background: #d1e5ee;
	background: -webkit-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -moz-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -o-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -ms-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: linear-gradient(to bottom,  #f6fafd 0%,  #d1e5ee 100%);
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
}

.navbar .container .bg-navbar {
	left: 0;
	padding: 0 13px;
	position: absolute;
	top: 99%;
	width: 100%}

.navbar .container .bg-navbar div {
	background-image: url("img/bg-nav-bottom.png");
	background-position: bottom center;
	background-repeat: repeat-x;
	height: 10px;
	width: 100%}

.services {
	text-align: center;
}

.services:hover .item {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-moz-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-ms-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-o-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
}

.services h3 {
	margin-bottom: 10px;
}

.services .item ul li:before {
	content: "\2013";
	margin-right: 5px;
}

.services .item:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
	background-color: transparent;
	color: #968dba;
	text-decoration: none;
}

#push, #footer {
	min-height: 251px;
}

.header {
	min-height: 512px;
	width: 100%;
	background: url("img/bg-header.png") no-repeat;
	background-size: cover;
}

.header .top {
	font-size: 0.9em;
	font-weight: 800;
	line-height: 68px;
	min-height: 68px;
}

.header .top .row {
	padding: 0;
}

.header .top .row>div {
	overflow: hidden;
}

.header .top .row .right {
	text-align: right;
}

.header .top span.skype, .header .top span.mail, .header .top span.github {
	overflow: hidden;
	display: inline-block;
	position: relative;
	opacity: .5;
	transition: all .3s ease;
}

.header .top span.skype:hover, .header .top span.mail:hover, .header .top span.github:hover {
	opacity: 1;
}

.header .top span.skype i, .header .top span.mail i, .header .top span.github i {
	display: block;
	position: absolute;
	top: 27px;
	margin: 0 14px 0 3px;
	width: 18px;
	height: 18px;
}

.header .top span.skype a, .header .top span.mail a, .header .top span.github a {
	text-transform: uppercase;
	font-family: 'Roboto',  sans-serif;
	display: block;
	float: left;
	padding-top: 3px;
	color: #fff;
	margin-left: 34px;
}

.header .top span.skype a:hover, .header .top span.mail a:hover, .header .top span.github a:hover {
	text-decoration: none;
}

.header .top .skype {
	margin-right: 20px;
}

.header .top .skype i {
	width: 18px;
	height: 19px !important;
}

.header .bottom {
	text-transform: uppercase;
	font-family: 'Roboto',  sans-serif;
	font-size: 14px;
}

.header .bottom .description {
	position: relative;
	color: #FFF;
	margin: 55px auto;
	width: 766px;
	text-align: right;
}

.header .bottom .description .astronavt {
	display: block;
	position: absolute;
	width: 342px;
	height: 563px;
	background: url(img/astronavt2.png) no-repeat;
	background-size: cover;
}

.header .bottom .description img {
	position: absolute;
	left: 0;
}

.header .bottom .description small {
	font-size: 40px;
	font-weight: 300;
	line-height: 72px;
}

.header .bottom .description span {
	font-size: 62px;
	font-weight: 300;
	display: block;
}

.header .bottom .description .btn {
	margin: 29px 0;
	color: #fff;
	display: block;
	float: right;
}

.row {
	padding: 40px 0;
}

.btn {
	background: #2c8d0a;
	background: -webkit-linear-gradient(top,  #b5fe01,  #2c8d0a);
	background: -moz-linear-gradient(top,  #b5fe01,  #2c8d0a);
	background: -o-linear-gradient(top,  #b5fe01,  #2c8d0a);
	background: -ms-linear-gradient(top,  #b5fe01,  #2c8d0a);
	background: linear-gradient(to bottom,  #b5fe01,  #2c8d0a);
	border: none;
	border-bottom: 3px solid #206a07;
	border-bottom-left-radius: 1.7em 50%;
	border-bottom-right-radius: 1.7em 50%;
	border-top-left-radius: 1.7em 50%;
	border-top-right-radius: 1.7em 50%;
	-webkit-box-shadow: 0 0.1em 0.31em rgba(0, 0, 0, 0.3);
	box-shadow: 0 0.1em 0.31em rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	padding: 1em 2em;
	-webkit-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-moz-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-ms-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-o-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
}

.btn:hover {
	background: -webkit-linear-gradient(top,  #5ef700,  #2b8c0b);
	background: -moz-linear-gradient(top,  #5ef700,  #2b8c0b);
	background: -o-linear-gradient(top,  #5ef700,  #2b8c0b);
	background: -ms-linear-gradient(top,  #5ef700,  #2b8c0b);
	background: linear-gradient(to bottom,  #5ef700,  #2b8c0b);
	border-color: #2b8c0b;
	color: #fff;
}

.btn:active {
	-webkit-box-shadow: 0 0.1em 0.31em rgba(0, 0, 0, 0.3) inset;
	box-shadow: 0 0.1em 0.31em rgba(0, 0, 0, 0.3) inset;
}

.odd {
	background-color: transparent;
	position: relative;
	margin-top: 0;
}

.odd .bg-top {
	background-image: url("img/bg-top.png");
	background-position: top center;
	background-repeat: repeat-x;
	height: 15px;
	background-color: transparent;
}

.odd .bg-middle {
	background-color: #effbfb;
}

.odd .bg-bottom {
	background-image: url("img/bg-bottom.png");
	background-position: bottom center;
	background-repeat: repeat-x;
	height: 15px;
}

#container {
	overflow: hidden;
	margin-top: 39px;
}

#container .mix {
	display: none;
}

#container li {
	width: 300px;
	position: relative;
	margin: 0 16px 32px;
	overflow: hidden;
}

#container li .blank {
	overflow: hidden;
	width: 300px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

#container li .blank .layer {
	position: absolute;
	top: -55px;
	width: 100%;
	text-align: center;
	display: table;
}

#container li .blank h4 {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Roboto',  sans-serif;
	font-weight: bold;
	padding: 8px 11px;
	font-size: 14px;
	display: table-cell;
}

#container li .blank .stage-lnk {
	opacity: .6;
	display: block;
	position: absolute;
	height: 82px;
	top: 125px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#container li .blank .stage-lnk span {
	display: inline-block;
	line-height: 17px;
}

#container li .blank .stage-lnk b {
	display: inline-block;
	margin-bottom: 10px;
}

#container li .blank .stage-lnk.link {
	left: -74px;
	width: 54px;
}

#container li .blank .stage-lnk.link b {
	width: 42px;
	height: 36px;
	margin-left: 9px;
}

#container li .blank .stage-lnk.zoom {
	right: -95px;
	width: 74px;
}

#container li .blank .stage-lnk.zoom b {
	width: 38px;
	height: 38px;
}

#container li .blank .stage-lnk:hover {
	opacity: 1;
}

#container li:hover .blank {
	background: rgba(0, 0, 0, 0.8);
}

#container li:hover .blank .layer {
	top: 55px;
}

#container li:hover .blank .stage-lnk.link {
	left: 60px;
}

#container li:hover .blank .stage-lnk.zoom {
	right: 42px;
}

.works {
	text-align: center;
}

.works #filter {
	overflow: hidden;
}

.works #filter li {
	cursor: pointer;
	display: inline-block;
	padding: 6px 14px 8px 14px;
}

.works #filter li.active span {
	color: #000;
	font-weight: bold;
	border-color: transparent;
}

.works #filter li.active span:hover {
	cursor: default;
}

.works #filter span {
	color: #6b7285;
	font-family: 'Roboto',  sans-serif;
	font-size: 14px;
	border-bottom: 1px dashed #6b7285;
}

.works #filter span:hover {
	border-bottom: none;
}

.transition, #container li .blank, #container li .blank .layer, #container li .blank h4, #container li .blank .stage-lnk, #container li:hover .blank, #container li:hover .blank .layer, #container li:hover .blank h4, #container li:hover .blank .stage-lnk {
	transition: all .5s ease-in-out 0s;
}

.lnk-opacity, footer #contacts span, footer .menu li {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.lnk-opacity:hover, footer #contacts span:hover, footer .menu li:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

footer {
	color: #fff;
	position: relative;
	background: url(img/bg-footer.png) no-repeat;
	background-size: cover;
}

footer p {
	color: #FFF;
	margin-bottom: 25px;
}

footer #contacts {
	overflow: hidden;
}

footer #contacts span {
	display: block;
	position: relative;
	padding-left: 33px;
	line-height: 29px;
	float: left;
	clear: both;
}

footer #contacts a {
	color: #FFF;
	text-decoration: none;
}

footer #contacts i {
	position: absolute;
	display: block;
	left: 0;
	width: 23px;
	height: 23px;
}

footer #contacts i.point {
	width: 22px;
	height: 24px;
}

footer #contacts i.mail {
	width: 22px;
	height: 22px;
}

footer .menu li {
	float: left;
	clear: both;
}

footer .menu a {
	color: #fff;
	padding-left: 8px;
}

footer .menu a:hover {
	text-decoration: none;
}

footer .footer-bottom {
	background-image: url("img/bg-ribbon-b.png");
	background-position: center top;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 0.8em;
	line-height: 55px;
	min-height: 75px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 20px 0 0 0;
	position: relative;
}

footer .footer-bottom .row {
	padding: 0;
}

footer .footer-bottom .copy {
	font-weight: 700;
	text-transform: uppercase;
}
