@import 'compass/reset';


/******** Compass sprites start ********/
	@import "compass/utilities/sprites";
/* 
$social-layout: normal;
$sprite-spacing: 10px;
@import "sprite/*.png";
@include all-sprite-sprites; 
*/
/******** Compass sprites end ********/


/******** Apple text hack start ********/
	div, span, a, li, h1, h2, h3, h4, 
	h5, h6, td, input, textarea, button {
		-webkit-text-size-adjust: none;
		-o-text-size-adjust: none;
		-moz--text-size-adjust: none;
		text-size-adjust: none;
		max-height: 999999px;
	}
	input[type=text],
	input[type=password],
	input[type=submit],
	textarea {
		-webkit-appearance: none !important;
	}
/******** Apple text hack end ********/


/******** General styles start ********/
/* fonts */
/* variables */
$purple: #541737;
$lightPurple: #968dba;
$superPurple: #990066;
$textColor: #6b7285;
$lnkRed: #FF0033;

$footerSize: 251px;

html, body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	color: $textColor;
	font-size: 14px;
}

#main-container {
	min-height: 100%;
	height: auto !important; /* for IE6 support */
	height: 100%;
	margin: 0 auto;
	margin-bottom: -$footerSize;
}

#push, #footer {
	height: $footerSize;
}

/******** General styles end ********/

/******** Other styles ********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

a, a:hover, .alio-navbar > li > a:after, .alio-navbar > li:hover > a:after {
	-webkit-transition: all 0.2s ease-out;;
	   -moz-transition: all 0.2s ease-out;;
		-ms-transition: all 0.2s ease-out;;
		 -o-transition: all 0.2s ease-out;;
			transition: all 0.2s ease-out;;
}

html {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

.content {
	padding-top: 50px;
}

.sprite-sprite, .sprite-github, .header .top .github i, .sprite-github2, footer #contacts i.github, .sprite-link, #isotope-list .item .blank .stage-lnk.link b, .sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b, .sprite-mail, .header .top .mail i, .sprite-mail2, footer #contacts i.mail, .sprite-map, footer #contacts i.point, .sprite-skype, .header .top .skype i, .sprite-skype2, footer #contacts i.skype {
	background-image: url('../img/sprite-s882fa6ff2c.png');
	background-repeat: no-repeat;
}

.sprite-github, .header .top .github i {
	background-position: 0 0;
}

.sprite-github2, footer #contacts i.github {
	background-position: 0 -28px;
}

.sprite-link, #isotope-list .item .blank .stage-lnk.link b {
	background-position: 0 -61px;
}

.sprite-loop, #isotope-list .item .blank .stage-lnk.zoom b {
	background-position: 0 -107px;
}

.sprite-mail, .header .top .mail i {
	background-position: 0 -155px;
}

.sprite-mail2, footer #contacts i.mail {
	background-position: 0 -183px;
}

.sprite-map, footer #contacts i.point {
	background-position: 0 -215px;
}

.sprite-skype, .header .top .skype i {
	background-position: 0 -249px;
}

.sprite-skype2, footer #contacts i.skype {
	background-position: 0 -278px;
}

div, span, a, li, h1, h2, h3, h4, h5, h6, td, input, textarea, button {
	-webkit-text-size-adjust: none;
	-o-text-size-adjust: none;
	-moz--text-size-adjust: none;
	text-size-adjust: none;
	max-height: 999999px;
}

input[type=text], input[type=password], input[type=submit], textarea {
	-webkit-appearance: none !important;
}

html, body {
	min-height: 100%}

body {
	font-family: 'Roboto',  sans-serif;
	font-size: 16px;
	color: #6b7285;
	background-color: #fff;
}

a {
	font-family: 'Roboto',  sans-serif;
	text-decoration: none;
}

h1 {
	font-size: 38px;
}

h2 {
	color: #6b7285;
	font-size: 2.2em;
	font-weight: 300;
	margin: 0 0 20px 0;
	text-align: center;
}

h2:before {
	content: ' ~ ';
	font-weight: 300;
	margin: 0 0 0 -35px;
}

h3 {
	color: #305fa3;
	font-size: 1.5em;
	font-weight: 300;
	margin-bottom: 0;
}

p {
	color: #6b7285;
	font-family: 'Roboto',  sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 1.5em;
}

ul {
	color: #6b7285;
	font-family: 'Roboto',  sans-serif;
	line-height: 1.5em;
	font-weight: 300;
}

.alio-logo {
	float: left;
	padding: 5px 15px 11px;
}

.navbar-toggle {
	background: #4c74af;
	background: -webkit-linear-gradient(top,  #978ebb,  #4c74af);
	background: -moz-linear-gradient(top,  #978ebb,  #4c74af);
	background: -o-linear-gradient(top,  #978ebb,  #4c74af);
	background: -ms-linear-gradient(top,  #978ebb,  #4c74af);
	background: linear-gradient(to bottom,  #978ebb,  #4c74af);
}

.navbar-toggle span {
	background: #fff;
}

.alio-navbar {
	display: inline-block;
	.dropdown-menu {
		background-color: rgba(242, 239, 239, 0.93);
		font-weight: 400;
		a {
			border-bottom: 1px solid #e8e5e5;
			padding-top: 9px;
			padding-bottom: 9px;
			color: #333333;
			font-family: 'PT Sans', Arial, Helvetica, sans-serif;
			font-weight: 400;
			font-size: 13px;
			border: 0;
			padding: 7px 20px;
			line-height: 19px;
			text-indent: 0;
			height: auto;
			display: block;
			box-sizing: content-box;
		}
	}
}

.alio-navbar > li {
	display: inline-block;
	margin: 23px 10px 0px;
}

.alio-navbar li a {
	display: inline-block;
	color: $superPurple;
	font-size: 14px;
	font-weight: 700;
	padding: 0 12px;
	text-transform: uppercase;
}

.alio-navbar li.active a, .alio-navbar li a:hover {
	color: #3366CC;
	text-decoration: none;
}

.alio-navbar li i {
	border-right: 1px solid #dfe8ed;
	display: block;
	height: 29px;
	left: 100%;
	position: absolute;
	top: 0;
	width: 3px;
}

#about {
	text-align: left;
}

.navbar .container {
	background: #d1e5ee;
	background: -webkit-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -moz-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -o-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: -ms-linear-gradient(top,  #f6fafd 0%,  #d1e5ee 100%);
	background: linear-gradient(to bottom,  #f6fafd 0%,  #d1e5ee 100%);
	-webkit-border-radius: 13px;
	border-radius: 13px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: relative;
}

.navbar.sticky {
	position: fixed;
	top: -1px;
	z-index: 500;
	.container {
		background: rgba(255, 255, 255, 0.8);
		-webkit-box-shadow: 1px -4px 6px -1px rgba(0, 0, 0, 0.3), -1px -4px 6px -1px rgba(0, 0, 0, 0.3);
		box-shadow: 1px -4px 6px -1px rgba(0, 0, 0, 0.3), -1px -4px 6px -1px rgba(0, 0, 0, 0.3);
	}
}
	

#primary-navbar-collapse {
	text-align: right;
}

.navbar .container .bg-navbar {
	left: 0;
	padding: 0 13px;
	position: absolute;
	top: 99%;
	width: 100%
}

.navbar .container .bg-navbar div {
	background-image: url("../img/bg-nav-bottom.png");
	background-position: bottom center;
	background-repeat: repeat-x;
	height: 10px;
	width: 100%
}

.navbar.sticky .container .bg-navbar {
	top: 100%;
}

.navbar.sticky .container .bg-navbar div {
	background-image: url("../img/bg-nav-bottom-white.png");
	opacity: .8;
	border-bottom-right-radius: 45px;
}

.three-columns {
	text-align: center;
}

.three-columns:hover .item {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-webkit-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-moz-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-ms-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	-o-transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
	transition: background-color .3s ease,  border .3s ease,  color .3s ease,  opacity .3s ease-in-out,  outline .3s ease;
}

.three-columns h3 {
	margin-bottom: 10px;
}

.point-list li, .three-columns .item p {
	text-align: left;
}

.point-list li:before {
	content: "\f00c";
	margin-right: 5px;
}

.point-list li:before, .inline-lnk:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.three-columns .item:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.alio-navbar > li > a:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: $lightPurple;
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform-origin: left center;
	transition: all .15s ease-out;
	filter: alpha(opacity=100);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.alio-navbar > li:hover > a:after {
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	filter: alpha(opacity=100);
	-moz-opacity: 100;
	-khtml-opacity: 100;
	opacity: 100;
	opacity: 1;
}

.alio-navbar > li > a:hover, .alio-navbar.nav > li > a:focus {
	background-color: transparent;
	color: $lightPurple;
	text-decoration: none;
}

.header {
	min-height: 512px;
	width: 100%;
	background: url("../img/bg-header.png") no-repeat;
	background-size: cover;
}

.header .top {
	font-size: 12px;
	font-weight: 800;
	line-height: 32px;
	min-height: 46px;
}

.header .top .row>div {
	overflow: hidden;
}

.header .top .row .right {
	text-align: right;
}

.header .top span.skype, .header .top span.mail, .header .top span.github {
	overflow: hidden;
	display: inline-block;
	position: relative;
	opacity: .5;
	transition: all .3s ease;
}

.header .top span.skype:hover, .header .top span.mail:hover, .header .top span.github:hover {
	opacity: 1;
}

.header .top span.skype i, .header .top span.mail i, .header .top span.github i {
	display: block;
	position: absolute;
	top: 17px;
	margin: 0 14px 0 3px;
	width: 18px;
	height: 18px;
}

.header .top span.skype a, .header .top span.mail a, .header .top span.github a {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	display: block;
	float: left;
	padding-top: 11px;
	color: #fff;
	margin-left: 34px;
}

.header .top span.skype a:hover, .header .top span.mail a:hover, .header .top span.github a:hover {
	text-decoration: none;
}

.header .top .skype {
	margin-right: 20px;
}

.header .top .skype i {
	width: 18px;
	height: 19px !important;
}

.header .bottom {
	text-transform: uppercase;
	font-family: 'Roboto',  sans-serif;
	font-size: 14px;
}

.header .bottom .description {
	position: relative;
	color: #FFF;
	margin: 55px auto;
	width: 766px;
	text-align: right;
}

.header .bottom .description .astronavt {
	display: block;
	position: absolute;
	width: 342px;
	height: 563px;
	background: url(../img/astronavt2.png) no-repeat;
	background-size: cover;
}

.header .bottom .description img {
	position: absolute;
	left: 0;
}

.header .bottom .description small {
	font-size: 40px;
	font-weight: 300;
	line-height: 72px;
}

.header .bottom .description span.address {
	font-size: 62px;
	font-weight: 300;
	display: block;
}

.description .alio-btn {
	margin-top: 20px;
}

.alio-btn {
	background: #2c8d0a;
	background: -webkit-linear-gradient(top, #b5fe01, #2c8d0a);
	background: -moz-linear-gradient(top, #b5fe01, #2c8d0a);
	background: -o-linear-gradient(top, #b5fe01, #2c8d0a);
	background: -ms-linear-gradient(top, #b5fe01, #2c8d0a);
	background: linear-gradient(to bottom, #b5fe01, #2c8d0a);
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 28px;
	line-height: 100%;
	color: #fff;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 0px 0px #206a07;
	border-width: 2px;
	letter-spacing: 1px;
	border-radius: 3px;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	-moz-transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	-ms-transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	-o-transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
	&:hover {
		background: -webkit-linear-gradient(top,  #5ef700,  #2b8c0b);
		background: -moz-linear-gradient(top,  #5ef700,  #2b8c0b);
		background: -o-linear-gradient(top,  #5ef700,  #2b8c0b);
		background: -ms-linear-gradient(top,  #5ef700,  #2b8c0b);
		background: linear-gradient(to bottom,  #5ef700,  #2b8c0b);
	}
	&:after {
		content: "";
		position: absolute;
		transition: all 0.2s ease-out;
		-webkit-transition: all 0.2s ease-out;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
		-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg) translateZ(0);
		height: 0;
		width: 0;
		opacity: 0;
		background-color: $purple;
	}
	&:hover i, &:hover span {
		color: #FFF;
		transform: translateX(0);
		-webkit-transform: translateX(0);
		opacity: 1;
	}
	.in-button {
		transform: translateX(-17.5px);
		-webkit-transform: translateX(-17.5px);
		display: inline-block;
		transform: translateX(-17px);
		-webkit-transform: translateX(-17px);
		transition: transform .2s;
		-webkit-transition: -webkit-transform .2s;
		transition-delay: .01s;
		-webkit-transition-delay: .01s;
	}
}

.alio-btn i {
	font-size: 30px;
	opacity: 0;
	transform: translateX(-30px);
	-webkit-transform: translateX(-30px);
	transition: opacity .2s, transform .2s;
	-webkit-transition: opacity .2s, -webkit-transform .2s;
	color: #FFF;
	line-height: 4px;
}

a:active, a:focus, a:hover, a:link, a:visited {
	outline: 0;
	text-decoration: none;
}

.odd, .gray {
	background-color: transparent;
	position: relative;
	margin-top: 0;
}

.odd .bg-top, .gray .bg-top, .odd .bg-bottom, .gray .bg-bottom {
	background-repeat: repeat-x;
	height: 15px;
	background-color: transparent;
}

.odd .bg-top {
	background-image: url("../img/bg-top.png");
}

.gray {
	.bg-top {
		background-image: url("../img/gray-bg-top.png");
	}
	.bg-middle {
		background-color: #ccc;
	}
	.bg-bottom {
		background-image: url("../img/gray-bg-bottom.png");
	}
}

.odd .bg-middle {
	background-color: #effbfb;
}

.odd .bg-bottom {
	background-image: url("../img/bg-bottom.png");
}

#isotope-list {
	overflow: hidden;
}

#isotope-list .item {
	margin-bottom: 30px;
	overflow: hidden;
	.image-block {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		position: relative;
		overflow: hidden;
		line-height: 4px;
		vertical-align: baseline;
		&:hover {
			.icons-holder {
				top: 60%;
				opacity: 1;
			}
			.meta-info {
				opacity: 1;
				bottom: 60%;
			}
			img {
				-webkit-transform: scale(1.15);
				-ms-transform: scale(1.15);
				transform: scale(1.15);
			}
			.img-hover-overlay {
				opacity: .5;
				&:before {
					-webkit-transform: scaleY(1)!important;
					-ms-transform: scaleY(1)!important;
					transform: scaleY(1)!important;
				}
				&:after {
					-webkit-transform: scaleX(1)!important;
					-ms-transform: scaleX(1)!important;
					transform: scaleX(1)!important;
				}
			}
		}
		img {
			position: relative;
			width: 100%;
			z-index: 10;
			max-width: 100%;
			height: auto;
			border: 0;
			vertical-align: middle;
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			transition: all .35s ease-in-out;
		}
		.icons-holder {
			position: absolute;
			top: 65%;
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: all .3s ease-in-out;
			z-index: 13;
			.hover-icon {
				display: inline-block;
				margin: 0 5px;
				width: 48px;
				height: 48px;
				line-height: 50px;
				text-align: center;
				opacity: .7;
				color: #fff;
				transition: all .15s ease-in-out;
				-webkit-perspective: 1000;
				i {
					font-size: 32px;
					vertical-align: middle;
				}
				&:hover {
					opacity: 1;
				}
			}
		}
		.meta-info {
			position: absolute;
			bottom: 70%;
			left: 0;
			width: 100%;
			text-align: center;
			opacity: 0;
			transition: all .3s ease-out;
			z-index: 20;
			.the-title {
				padding: 0 20px;
				font-size: 14px!important;
				line-height: 18px!important;
				font-weight: 700;
				margin-bottom: 15px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #fff!important;
			}
		} 
		.img-hover-overlay {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: #000;
			z-index: 11;
			transition: opacity .25s ease-in-out;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 9%;
				left: 8%;
				right: 8%;
				bottom: 9%;
				opacity: 1;
				display: block;
				transition: all .35s ease-out;
			}
			&:before {
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
				-webkit-transform-origin: 100% 0;
				-ms-transform-origin: 100% 0;
				transform-origin: 100% 0;
				-webkit-transform: scaleY(0)!important;
				-ms-transform: scaleY(0)!important;
				transform: scaleY(0)!important;
			}
			&:after {
				border-bottom: 1px solid #fff;
				border-top: 1px solid #fff;
				-webkit-transform-origin: 0 0;
				-ms-transform-origin: 0 0;
				transform-origin: 0 0;
				-webkit-transform: scaleX(0)!important;
				-ms-transform: scaleX(0)!important;
				transform: scaleX(0)!important;
			}
		}
	}
}

#filters {
	list-style: none;
	padding: 0;
	margin: 18px 0 26px;
	text-align: center;
}

#filters li {
	cursor: pointer;
	display: inline-block;
	margin: 6px;
}

#filters a {
	color: #545454;
	font-size: 16px;
	display: inline-block;
	line-height: 32px;
	padding: 0 13px;
	border: 1px solid #545454;
}

#filters a:hover, #filters a.selected {
	background: #FFF;
	color: #000;
}

.transition, #isotope-list .item .blank, #isotope-list .item .blank .layer, #isotope-list .item .blank h4, #isotope-list .item .blank .stage-lnk, #isotope-list .item:hover .blank, #isotope-list .item:hover .blank .layer, #isotope-list .item:hover .blank h4, #isotope-list .item:hover .blank .stage-lnk {
	transition: all .5s ease-in-out 0s;
}

.lnk-opacity, footer #contacts span, footer .menu li {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.lnk-opacity:hover, footer #contacts span:hover, footer .menu li:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

footer {
	color: #fff;
	position: relative;
	background: url(../img/bg-footer.png) no-repeat;
	background-size: cover;
}

footer p {
	color: #FFF;
	margin-bottom: 25px;
}

footer #contacts {
	overflow: hidden;
}

footer #contacts span {
	display: block;
	position: relative;
	padding-left: 33px;
	line-height: 29px;
	float: left;
	clear: both;
}

footer #contacts a {
	color: #FFF;
	text-decoration: none;
}

footer #contacts i {
	position: absolute;
	display: block;
	left: 0;
	width: 23px;
	height: 23px;
}

footer #contacts i.point {
	width: 22px;
	height: 24px;
}

footer #contacts i.mail {
	width: 22px;
	height: 22px;
}

footer .menu li {
	float: left;
	clear: both;
}

footer .menu a {
	color: #fff;
	padding-left: 8px;
}

footer .menu a:hover {
	text-decoration: none;
}

footer .footer-bottom {
	background-image: url("../img/bg-ribbon-b.png");
	background-position: center top;
	background-repeat: repeat-x;
	color: #fff;
	font-size: 0.8em;
	line-height: 55px;
	min-height: 75px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding: 20px 0 0 0;
	position: relative;
}

footer .footer-bottom .row {
	padding: 0;
}

footer .footer-bottom .copy {
	font-weight: 700;
	text-transform: uppercase;
}

.inline-lnk {
	color: #00CCFF;
	font-weight: 400;
	&:hover {
		color: $lnkRed;
	}
	&:before {
		content: '\f08e';
		font-size: 8px;
		margin-right: 3px;
	}
}

section.shortcode-box {
	.bg-middle {
		padding: 50px 0;
	}
}

.divider.wave {
	height: 16px;
	background:transparent url('../img/wave-divider.png') left top repeat-x;
}



/******** Other styles end ********/